* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-default);
}

*::selection {
  color: #fff;
  background-color: #000;
}

@font-face {
  font-family: "NewYork";
  src: url("./static/fonts/newyork-webfont.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("./static/fonts/Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: "PlaywriteCU";
  src: url("./static/fonts/PlaywriteCU-VariableFont_wght.ttf");
}

:root {
  --fs-p: 0.8em;
  --fs-h: 1.3em;
  --ltr-spc: 5px;
  --font-heading: "NewYork";
  --font-sub-heading: "PlaywriteCU";
  --font-default: "Montserrat";
  --color-light: #fefefe;
  --color-dark: #ced4e5;
  --color-accent: #e6ced3;
}

.font-mont {
  font-family: var(--font-default);
}

.font-ny {
  font-family: var(--font-heading);
}

.font-pw {
  font-family: var(--font-sub-heading);
}

#svg-defs-hidden {
  position: absolute;
  width: 0;
  height: 0;
  overflow: visible;
  pointer-events: none;
}

body {
  position: relative;
  width: 100%;
  max-width: 500px;
  min-height: 100vh;
  margin: 0 auto;

  #intro-ctr {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease-out;
    cursor: pointer;
    z-index: 999;
    overflow: hidden;

    #intro-vid {
      position: relative;
      height: 100%;
      object-fit: cover;
    }

    #intro-cta {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 150px;
      height: 150px;
      background: #000;
      border-radius: 50%;
      animation: pulse 1s infinite alternate;
      box-shadow: 0 0 15px 5px #000;

      p {
        color: #fff;
      }
    }

    @keyframes pulse {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }

  .container {
    max-width: 100%;
    overflow: hidden;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 0;
    position: relative;
  }

  .border-imgs {
    position: absolute;
    width: 100vw;
    max-width: 500px;
    height: auto;
    z-index: 1;
    top: 100vh;
    display: flex;
    flex-direction: column;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;

    div {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;

      img {
        position: relative;
        width: 120px;
        height: auto;
        opacity: 0.6;
      }
    }

    div:nth-of-type(odd) {
      justify-content: flex-start;

      img {
        left: 0;
        transform: rotateY(180deg);
      }
    }

    div:nth-of-type(even) {
      justify-content: flex-end;

      img {
        right: 0;
        transform: unset;
      }
    }
  }

  .section {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 50px;

    * {
      z-index: 2;
    }
  }

  .salutations {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 10px;
    text-align: center;

    p:nth-of-type(1) {
      font-size: 12px;
    }
  }

  .hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    #hero-video {
      width: 150%;
      -webkit-user-select: none;
      user-select: none;
    }

    #hero-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        font-size: var(--fs-p);
        margin: 10px 0;
      }

      h1 {
        font-size: var(--fs-h);
        text-transform: uppercase;
      }
    }

    .hero-cta {
      position: absolute;
      bottom: 20px;

      a {
        text-decoration: none;
        letter-spacing: var(--ltr-spc);
        text-transform: uppercase;
        color: #000;

        &::after {
          content: "\02193";
        }
      }
    }
  }

  .countdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(
      123deg,
      rgba(206, 212, 229, 1) 0%,
      rgba(230, 206, 211, 1) 100%
    );
    color: #000;
    padding: 50px 0;

    .countdown-text {
      position: relative;
      text-align: center;

      p {
        font-size: var(--fs-p);
        letter-spacing: var(--ltr-spc);
      }

      h1 {
        font-size: var(--fs-h);
        font-weight: 300;
      }
    }

    .countdown-timer {
      position: relative;
      display: flex;
      justify-content: space-between;
      gap: 20px;
      flex-wrap: wrap;
      padding: 20px;

      .countdown-timer-item {
        position: relative;
        flex-grow: 1;
        flex-shrink: 1;
        width: 100px;
        height: 100px;
        background-color: var(--color-light);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
          font-family: "NewYork";
        }

        p {
          font-family: var(--font-default);
        }
      }
    }
  }

  .events {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    .evt-sec-hd {
      color: #000;
      margin-bottom: 20px;
      font-family: var(--font-heading);
      background-color: var(--color-dark);
      padding: 10px 50px;
      border-radius: 999em;
    }

    p {
      padding: 20px;
      font-size: 18px;
      line-height: 2;

      &:first-of-type {
        padding: unset;
      }
    }

    ul {
      list-style: none;

      li {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: auto;
        align-items: center;
        margin-bottom: 100px;

        .tl-itm-img {
          width: 100px;
          height: 100px;
          background-color: var(--color-dark);
          // background: linear-gradient(
          //   127deg,
          //   rgba(206, 212, 229, 1) 50%,
          //   rgba(230, 206, 211, 1) 100%
          // );
          border-radius: 50%;
          margin-right: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          h1 {
            font-weight: normal;
          }

          &::after {
            content: "";
            width: 2px;
            height: 150px;
            left: 50%;
            transform: translate(-50%, 0);
            top: 100%;
            position: absolute;
            background-color: #000;
          }
        }

        .tl-itm-cntnt {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 10px;

          p {
            text-align: center;
            width: 80%;
          }

          .venueBox {
            padding: 20px;
            z-index: 2;
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 15px;
            gap: 15px;

            svg {
              width: 50px;
              height: 50px;
              fill: var(--color-accent);
              border-radius: 50%;
              background-color: #e6879a;
              padding: 5px;

              path {
                fill: var(--color-accent);
              }
            }

            iframe {
              border-radius: 15px;
              width: 380px;
              height: 250px;
              border: 0;
              box-shadow: 0 0 10px -5px #000;
            }

            p {
              padding: unset;
              font-size: 16px;
            }
          }
        }

        &:last-of-type {
          margin-bottom: unset;

          .tl-itm-img::after {
            display: none;
          }
        }
      }
    }
  }

  .divider {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;

    div {
      position: relative;
      flex: 1 1 100px;
      height: 2px;
      background-color: var(--color-dark);
    }

    img {
      position: relative;
      width: 24px;
      margin: 0px 10px;
      opacity: 0.5;
    }
  }

  .bg-aud-wrapper {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    box-shadow: 0 0 20px 2px #0000004b;

    .speaker-btns {
      position: absolute;

      &:nth-of-type(2) {
        display: none;
      }
    }
  }
}
