* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-default);
}

*::selection {
  color: #fff;
  background-color: #000;
}

@font-face {
  font-family: "NewYork";
  src: url("./static/fonts/newyork-webfont.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("./static/fonts/Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: "PlaywriteCU";
  src: url("./static/fonts/PlaywriteCU-VariableFont_wght.ttf");
}

:root {
  --fs-p: 0.8em;
  --fs-h: 1.3em;
  --ltr-spc: 5px;
  --font-heading: "NewYork";
  --font-sub-heading: "PlaywriteCU";
  --font-default: "Montserrat";
  --color-light: #c3dbc5;
  --color-dark: #012622;
}

.font-mont {
  font-family: var(--font-default);
}

.font-ny {
  font-family: var(--font-heading);
}

.font-pw {
  font-family: var(--font-sub-heading);
}

body {
  position: relative;
  width: 100vw;
  min-height: 100vh;

  #intro-ctr {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease-out;
    cursor: pointer;
    z-index: 999;
    overflow: hidden;

    #intro-vid {
      position: relative;
      height: 100%;
      object-fit: cover;
    }

    #intro-cta {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 150px;
      height: 150px;
      background: rgba(0, 0, 0, 1);
      border-radius: 50%;
      animation: pulse 1s infinite alternate;
      box-shadow: 0 0 15px 5px #000;

      p {
        color: #fff;
      }
    }

    @keyframes pulse {
      from {
        // scale: 0;
        opacity: 0;
      }
      to {
        // scale: 1;
        opacity: 1;
      }
    }
  }

  .container {
    max-width: 100%;
    overflow: hidden;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 0;
  }

  .section {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 50px 0;
    z-index: 1;
  }

  .hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    #hero-video {
      width: 100%;
      -webkit-user-select: none;
      user-select: none;
    }

    #hero-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        font-size: var(--fs-p);
      }

      h1 {
        font-size: var(--fs-h);
        text-transform: uppercase;
      }
    }

    .hero-cta {
      position: absolute;
      bottom: 20px;

      a {
        text-decoration: none;
        letter-spacing: var(--ltr-spc);
        text-transform: uppercase;
        color: #000;

        &::after {
          content: "\02193";
        }
      }
    }
  }

  .countdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--color-dark);
    color: #fff;

    .countdown-text {
      position: relative;
      text-align: center;

      p {
        font-size: var(--fs-p);
        letter-spacing: var(--ltr-spc);
      }

      h1 {
        font-size: var(--fs-h);
        font-weight: 300;
      }
    }

    .countdown-timer {
      position: relative;
      display: flex;
      justify-content: space-between;
      gap: 20px;
      flex-wrap: wrap;
      padding: 20px;

      .countdown-timer-item {
        position: relative;
        flex-grow: 1;
        flex-shrink: 1;
        width: 100px;
        height: 100px;
        background-color: var(--color-light);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
          font-family: "NewYork";
        }

        p {
          font-family: var(--font-default);
        }
      }
    }
  }

  .events {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--color-light);
    width: 100%;

    h1 {
      color: #000;
      letter-spacing: 5px;
    }

    #events-content {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      min-height: 700px;

      svg {
        position: absolute;
        width: 100%;
        fill: var(--color-dark);
        z-index: -1;

        path {
          stroke: none;
        }
      }
    }
  }

  .bg-aud-wrapper {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    box-shadow: 0 0 20px 2px #0000004b;

    .speaker-btns {
      position: absolute;

      &:nth-of-type(2) {
        display: none;
      }
    }
  }
}
